{% markdown %}
    Get in touch!

    #### Email

    <form method="POST" target="_blank"
        action="https://formspree.io/YOUREMAIL">
      <input class="spaced" type="email" name="email" placeholder="Your email">
      <br>
      <textarea class="spaced" name="message" placeholder="Message"></textarea>
      <br>
      <button class="" type="submit">Send</button>
    </form>


    #### Physical

    Please address it to

    > UNESCO Headquarters, Paris, France

    #### Want a website like this for yourself?
    Check out the original repository using the hexagonal 'source' icon at the
    bottom of this page, and modify it to your needs! It is very simple to get
    going.

{% endmarkdown %}

<style>
    .spaced {
        margin-top: 3pt;
        margin-bottom: 10pt;
    }
</style>
